$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Aleo', serif;
$nav-color: #5474FD;

body {
    margin: 0;
    width: 100%;
    height: 100vh;
}

.header {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-image: url(../images/image1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .header {
  display: flex;
  flex-wrap: wrap;
}
}

@media screen and (max-width: 500px) {
  .header {
  display: flex;
  flex-wrap: wrap;
}
}

.header_container {
    max-width: 1770px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.header_box {
  flex-basis: 1770px;
}

.header_title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  font-family: $primary-font;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header_text {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

h2 {
  font-family: $primary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 6.82px;
  color: #FFFFFF;
}

.search_box {
  display: flex;
  justify-content: center;
}

.search {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.search-container {
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  width: 653px;
}

.input {
  font-family: $primary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2.8px;
  color: #999999;
  border: none;
}

.header_button {
  width: 153px;
  height: 63px;
  background: #5474FD;
  border-style: none;
  box-sizing: border-box;
  font-family: $secondary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header_button:hover {
  background: #ccc;
}

.topnav {
  width: 100%;
  top: 738px;
  background-color: $nav-color;
  display: flex;
  justify-content: center;
}

.navbar {
  max-width: 1770px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  font-family: $primary-font;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  justify-content: flex-start;
}

.navlink {
  font-family: $secondary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.navlink--link {
  list-style: none;
  flex-wrap: wrap;
}

.navlink--link>a {
  text-decoration: none;
  color: #FFFFFF;
}

.navlink--link:hover {
  font-weight: bold;
}

.why_container {
  width: 100%;
  height: 100%;
  background-image: url(../images/section-two.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

@media screen and (max-width: 800px) {
  .why_container {
  display: flex;
  flex-wrap: wrap;
}
}

@media screen and (max-width: 500px) {
  .why_container {
  display: flex;
  flex-wrap: wrap;
}
}

.why_infobox {
  width: 562px;
  height: 184px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.why_title {
  font-family: $secondary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 26px;
  color: #FFFFFF;
  margin-left: 100px;
}

.why_text {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.6px;
  color: #E8E8E8;
  margin-left: 100px;
}

.why_btn {
  display: flex;
  flex-wrap: wrap;
}

.why_button, %button {
  width: 228px;
  height: 63px;
  border-style: none;
  box-sizing: border-box;
  background-color: $nav-color;
  font-family: $secondary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.why_button:hover {
  font-weight: bold;
}

.how_container {
  display: flex;
  justify-content: center;
}

.how_box {
  max-width: 1770px;
  width: 100%;
  min-height: 337px;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.how_img {
  min-width: 950px;
}

.spain1_container {
  max-width: 1770px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-image: url(../images/house.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.spain1_box {
  width: 543px;
  height: 374px;
  background: rgba(35 35 35);
  mix-blend-mode: normal;
  opacity: 0.9;
  margin-top: 100px;
  margin-right: 300px;
}

.spain {
  font-family: $primary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 1.5px;
  color: #E8E8E8;
}

.spain_title {
  font-family: $primary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.spain_text {
  font-family: $primary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #E8E8E8;
}

.spain_button {
  @extend %button;
}

.spain2_container {
  max-width: 1770px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-image: url(../images/ocean.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.spain2_box {
  width: 543px;
  height: 374px;
  background: rgba(35 35 35);
  mix-blend-mode: normal;
  opacity: 0.9;
  margin-top: 100px;
  margin-left: 300px;
}

.spain {
  padding-left: 20px;
  font-family: $primary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 1.5px;
  color: #E8E8E8;
}

.spain_title {
  padding-left: 20px;
  font-family: $primary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.spain_text {
  padding-left: 20px;
  font-family: $primary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #E8E8E8;
}

.spain_button {
  @extend %button;
}

.spain_button:hover {
  font-weight: bold;
}

.what_container {
  max-width: 1770px;
  min-height: 731px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url(../images/person.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.what_head {
  font-family: $secondary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 26px;
  color: #FFFFFF;
  width: 390px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.what_box {
  width: 1113px;
  height: 287px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
}

.what_title {
  font-family: $primary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: #FEFEFE;
}

.what_text {
  font-family: $primary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E8E8E8;
  padding-left: 20px;
}

.footer_container {
  max-width: 1770px;
  min-height: 271px;
  width: 100%;
  background-color: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_box {
  width: 210px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.footer_title {
  font-family: $primary-font;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  display: flex;
  align-items: center;
  letter-spacing: 3.36px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer_text {
  font-family: $primary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1.6px;
  color: #FFFFFF;
}

.footer_navigation {
  width: 166px;
  height: 16px;
}

.footer_nav {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1.6px;
  color: #E8E8E8;
  list-style: none;
}

.nav {
  padding: 20px 20px 0px 0px;
}

.nav>a {
  text-decoration: none;
  color: #FFFFFF;
}